* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  box-sizing: border-box;
}

h1,
h2,
h3 {
  font-family: 'Work Sans', Arial, Helvetica, sans-serif;
}

a,
p,
time {
  font-family: 'Markazi Text', 'Times New Roman', Times, serif;
}

html,
body {
  width: 100%;
  height: 100%;
  background: #1b1b36;
}

::selection {
  color: inherit;
  background: #ffffff30;
}

ul,
li {
  list-style: none;
}

button {
  cursor: pointer;
}

a {
  text-decoration: none;
}
