@use './SharedStyles.module.scss';

// export const Background = styled.div``

.main {
  height: 100%;
  width: 50%;
  margin: 0 auto;

  @media screen and (max-width: 800px) {
    & {
      width: 90%;
    }
  }
}

.header {
  margin-bottom: 40px;
}

.nav {
  @extend .base_nav;

  margin: 30px 0 50px 0;
}

.text {
  color: #fefefe;
  padding-bottom: 100px;

  header {
    h1 {
      font-size: clamp(36px, 42px, 64px);
    }

    h2 {
      opacity: 0.8;
      font-size: clamp(0.8em, 1em, 3em);
    }

    h3 {
      margin: 5px 0;
      font-size: clamp(0.7em, 0.8em, 1em);

      span {
        font-size: 1.2em;
        text-transform: capitalize;
      }
    }
  }

  p {
    font-size: clamp(22px, 26px, 32px);
    text-justify: auto;
    margin: 16px 0;
    line-height: 150%;
  }

  em {
    opacity: 0.9;
  }
}
