// const Form = styled.form`
.form {
  margin: 0 4px;
  display: flex;
  align-items: stretch;
  justify-content: space-between;

  @media screen and (max-width: 600px) {
    & {
      flex-direction: column;
    }
  }

  input {
    flex: auto;
    color: #fefefe;
    font-size: 16px;
    padding: 12px;
    background: rgba(255, 255, 255, 0.2);
    border: 2px solid transparent;
    border-radius: 4px;
    transition: 0.2s;
  }

  input:focus {
    border: 2px solid rgba(255, 255, 255, 0.1);
  }

  input::placeholder {
    color: #fefefe;
    opacity: 0.4;
  }
}

// const GroupButtons = styled.div`
.group_buttons {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin-left: 6px;

  button {
    margin-left: 4px;
    padding: 0 8px;
    height: 100%;
    border-radius: 4px;
  }

  button:nth-child(1) {
    background: transparent;
    font-size: 14px;
    color: #fefefe;
    opacity: 0.8;
    flex: none;
    transition: 0.2s;
  }

  button:nth-child(1):hover {
    background: rgba(255, 255, 255, 0.1);
  }

  button:nth-child(1):active {
    background: rgba(255, 255, 255, 0.2);
  }

  button:nth-child(2) {
    background: #5c5fff;
    color: #fefefe;
    padding: 0 18px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.2s;

    svg {
      flex: none;
      height: 20px;
      width: 20px;
    }
  }

  button:nth-child(2):hover {
    background: #5659ee;
  }

  button:nth-child(2):active {
    background: #4b4ece;
  }

  @media screen and (max-width: 600px) {
    & {
      margin-left: 0px;
      margin-top: 6px;
      height: 46px;
      justify-content: space-between;
    }
  }
}
